.select {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.select:focus {
    outline: none;
}

.container_dark {
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(111deg,rgba(88, 88, 88, 1) 14%, rgba(48, 48, 48, 1) 51%);
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.container_light {
    border: 1px solid black;
    padding: 10px;
    background: linear-gradient(14deg,rgba(181, 181, 181, 1) 0%, rgba(156, 154, 154, 1) 27%, rgba(255, 255, 255, 1) 88%);
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}

.transponder_icon_light {
    color: #d71e28;
}

.transponder_icon_dark {
    color: #dd4048;
}

.testsuite_icon_light {
    color: #339966;
}

.testsuite_icon_dark {
    color: #66FF33;
}

.codeblock_icon_light {
    color: #CC0099;
}

.codeblock_icon_dark {
    color: #ff5cd6;
}

.data_icon_light {
    color: #0099FF;
}

.data_icon_dark {
    color: #00CCFF;
}

.testcode_icon_light {
    color: #339966;
}

.testcode_icon_dark {
    color: #66FF33;
}