:root {
    --border-color: #b5adad;
}

.grid_container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    height: 80vh; 
    width: 100%; 
    padding: 10px; 
    margin: 40px 0px;
}

.canvas {
    margin: 8px;
    margin-left: 0px;
    margin-bottom: 20px; 
    height: 100%; 
    border: 1px dashed var(--border-color); 
    float: right;
    flex-grow: 1;
}

.header{
    width: 100%;
    font-size: 20px; 
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
}