:root {
    --border-color: #b5adad;
}

.grid_container {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    margin-top: 50px;
}

.canvas {
    margin: 8px;
    height: 75vh; 
    border: 1px dashed var(--border-color); 
}

.header{
    width: 100%;
    font-size: 20px; 
    padding: 8px 8px;
    display: flex;
    flex-direction: row;
}

.nodeConfigDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialogContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}