.toolbarContainer { 
    background-color: var(--secondary);
    padding-top: 50px; 
    color: black; 
    width: 250px;
    height: 100%; 
    transition: width 0.25s ease-in-out, padding 0.25s ease-in-out;
    margin-bottom: 0px;
    z-index: 10;
    box-shadow: 3px 1px 11px 0px rgba(0,0,0,0.58);
    -webkit-box-shadow: 3px 1px 11px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 3px 1px 11px 0px rgba(0,0,0,0.58);
}

.toolbarHeader {
    width: 100%; 
    text-align: center; 
    padding: 8px 8px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    transition: flex-direction 0.4s ease-in-out;
}

.nodes {
    cursor: pointer;
    padding: 0px;
}

.tooltip {
    position: absolute;
    min-width: 120px;
    max-width: 240px;
    background-color: #606060;
    color: white;
    padding: 5px;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
    text-align: center;
    white-space: nowrap;
    transform: translate(75px, 35px);
}

.nodes:hover + .tooltip {
    visibility: visible;
}

.toolbarHeaderShrink {
    padding-top: 100px; 
    flex-direction: column-reverse;
    height: 70px;
}

.toolbarContainerShrink {
    width: 70px;
    padding: 14px 0px;
}

.toolbarButtonOpen {
    border-radius: 50%; 
    background-color: var(--wf-red); 
    color: var(--wf-yellow);
    padding: 2px;
    margin-bottom: 10px;
    transform: rotate(180deg);
    animation: rotate_ccw 0.4s ease-in-out 0.6s 1 forwards;
}

.toolbarButtonClose {
    border-radius: 50%; 
    background-color: var(--wf-red); 
    color: var(--wf-yellow);
    padding: 2px;
    transform: rotate(-180deg);
    animation: rotate_cw 0.4s ease-in-out 0.6s 1 forwards;
}

@keyframes rotate_cw {
    0%   {rotate: 0deg;}
    25%  {rotate: -45deg;}
    50%  {rotate: -90deg;}
    75%  {rotate: -135deg;}
    100% {rotate: -180deg;}
}

@keyframes rotate_ccw {
    0%   {rotate: 0deg;}
    25%  {rotate: 45deg;}
    50%  {rotate: 90deg;}
    75%  {rotate: 135deg;}
    100% {rotate: 180deg;}
}

.toolbar {
    display: flex; 
    flex-direction: column;
    place-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border: 2px solid var(--foreground); 
    padding: 8px; 
    margin: 8px auto; 
    width: 90%;
}

.roundedItem{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35%;
    padding: 6px; 
    margin: 4px auto !important;
    width: 60% !important;
    font-size: 14px;
    font-weight: 600 !important;
}